Makefile.inc
scripts/startup/init.d_script
test.man
*.o
bin/wendzelnntpadm
bin/wendzelnntpd
config.output
config.tab.c
config.tab.h
lex.yy.c
.idea

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
#/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1